@model List<ServiceListViewModel>

<div class="row">
    <div class="col-6">
        @foreach(var service in Model)
        {
            <div class="card" style="width: 18rem;">
            <div class="card-header">
                Services
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@service.CleaningCategories</li>
                <li class="list-group-item">@service.PropertyCategories</li>
                <li class="list-group-item">@service.Frequency</li>
                <li class="list-group-item">@service.CleaningType</li>
            </ul>
        </div>
        }
    </div>
</div>