@model AppoitmentViewModel

<div class="row">
    <h2 class="heading-margin text-center">Book Appoitment</h2>

    <form method="post" class="col-md-6 offset-3">
        <div class="form-group">
            <label asp-for="Date">Date</label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Submit" />
    </form>
</div>