@model AppoitmentViewModel

<h4>Select Date</h4>

@using (Html.BeginForm())
{
    @Html.EditorFor(model => model.Date, new { htmlAttributes = new {@class = "datepicker"}})
}

<link href="~/lib/jquery/dist/jquery.min.js" rel="stylesheet" />
@section scripts
{
<script>
    $(document).ready(function () {
       $(".datepicker").datepicker({
          dateFormat: "dd-mm-yy",
          changemonth: true,
          changeyear: true
          });
       });
</script>
}