@model AppoitmentViewModel

@{
    ViewData["Title"] = "Book Appoitment";
}

<div class="row">
    <h2 class="heading-margin text-center">Book Appoitment</h2>

    <form method="post">
        <div class="form-group">
            <label asp-for="Customer">Customer Name</label>
            <input asp-for="Customer" class="form-control">
        </div>

        <partial name="_DatePicker" />
        <input class="btn btn-primary mt-3" type="submit" value="Submit" />
    </form>
</div>
