@model AppoitmentViewModel

<div class="row">
    <h2 class="heading-margin text-center">Book Appoitment</h2>

    <form>
        <div class="form-group">
            <label asp-for="Customer">Customer Name</label>
            <input asp-for="Customer" class="form-control">
        </div>
    </form>
    <partial name="_DatePicker" />
    <partial name="_AllServices" />

</div>