@{
    ViewData["Title"] = "Admin Area";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Admin Area</h1>
    <p class="lead">You can rely on our team of cleaners!</p>
    <hr class="my-4">
    <p>SqueegeeLM provides professional and trustworthy windows cleaning service to residential and commercial properties within the London area.</p>
    </p>
</div>