<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="fas fa-home"></i>
                <p>
                    Home
                </p>
            </a>
        </li>
    </ul>
</nav>

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Appoitment" asp-action="AddAppoitment">
                <i class="fas fa-book"></i>
                <p>
                    Book Appoitment
                </p>
            </a>
        </li>
    </ul>
</nav>

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Appoitment" asp-action="AllAppoitments">
                <i class="fas fa-list"></i>
                <p>
                    All Appoitments
                </p>
            </a>
        </li>
    </ul>
</nav>
