@model AddServiceViewModel

@{
    ViewData["Title"] = "Add Service";
}

<div class="row">
    <h2 class="heading-margin text-center">Add Service</h2>

    <form method="post">
        <div class="form-group">
            <label asp-for="CleaningCategoryId"></label>
            <select asp-for="CleaningCategoryId" class="form-control">
                <option value="">Options</option>
                @foreach (var category in Model.CleaningCategories)
                {
                    <option value=@category.Id>@category.Name</option>
                }
            </select>
            <span asp-validation-for="CleaningCategoryId" class="small text-danger"></span>
        </div>
        <div class="form-gruop">
            <label asp-for="CleaningType"></label>
            <input asp-for="CleaningType" class="form-control" placeholder="Outside, Inside, Outside and Inside, etc..." />
            <span asp-validation-for="CleaningType" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PropertyCategoryId"></label>
            <select asp-for="PropertyCategoryId " class="form-control">
                <option value="">Options</option>
                @foreach (var category in Model.PropertyCategories)
                {
                    <option value=@category.Id>@category.Name</option>
                }
            </select>
            <span asp-validation-for="PropertyCategoryId" class="small text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FrequencyId"></label>
            <select asp-for="FrequencyId " class="form-control">
                <option value="">Options</option>
                @foreach (var category in Model.Frequency)
                {
                    <option value=@category.Id>@category.Name</option>
                }
            </select>
            <span asp-validation-for="FrequencyId" class="small text-danger"></span>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
</div>