@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1 class="display-4">Professional Window Cleaners in London</h1>
  <p class="lead">You can rely on our team of cleaners!</p>
  <hr class="my-4">
  <p>SqueegeeLM provides professional and trustworthy windows cleaning service to residential and commercial properties within the London area.</p>
  </p>
</div>
